.wizard-tab-modal {
  display: block !important;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  font-family: 'Montserrat', sans-serif;
}
.wizard-tab-modal.show {
  visibility: visible;
  opacity: 1;
  z-index: 99999;
}
.wizard-tab-modal .modal-header .close{
  padding: 0px;
  margin: 0rem 1rem -1rem auto;
}
.wizard-tab-modal .modal-dialog {
  max-width: 50%;
}
.wizard-tab-modal .modal-content {
  border-radius: 0;
  min-height: 300px;
  overflow: auto;
  border-radius: 0px;
  background-color: #32374a;
  /* background: linear-gradient(100deg, rgba(195,49,62,1) 78%, rgba(50,55,74,1) 78%); */
}
.wizard-tab-modal .modal-header {
  border: none;
  padding-bottom: 10px;
}
.wizard-tab-modal .modal-width{
  max-width: 800px;
}
.wizard-tab-modal .modal-body {
  padding: 30px 20px;
}
.form-wizard fieldset {
  display: none;
  text-align: left;
  border:0px !important
}

@media only screen and (max-width: 991px) {
  .wizard-tab-modal .modal-content {
      overflow: auto;
      background-image: none;
      background-color: #fff;
  }
  .wizard-tab-modal .modal-dialog {
      max-width: 95%;
  }
  .wizard-tab-modal .modal-body {
    padding: 30px 30px 30px 30px;
  }
  }
@media only screen and (max-width: 767px) {
  .wizard-tab-modal-wrap{
    min-height: 0px;
  }
  .wizard-tab-modal .modal-dialog {
    max-width: 100%;
  }
  .wizard-tab-modal .modal-body {
    padding: 15px 15px 15px 15px;
  }
  .wizard-tab-modal.modal-content {
      overflow: auto;
      border:solid 5px #c3313e;
  }
  }
  @media only screen and (max-width: 575px) {
  .wizard-tab-modal .modal-dialog {
      max-width: 100%;
    }
  }
