<footer>
	<section class="section-footer">
		<div class="container">
			<div class="border-sec">
				<div class="row">
					<!--Footer Widget start-->
					<div class="footer-widget col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 mb-20">
						<div class="logo-footer">
							<img src="assets/images/logo/logo-white.png" class="img-fluid">
						</div>
						<!-- <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there
						 isn't anything embarrassing hidden in the middle of text.
						</p> -->

					</div>
					<!--Footer Widget end-->

					<div class="col-md-8">
						<div class="row">
							<div class="footer-widget col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mb-20 ">
								<h4 class="title cursr-pointer">About us</h4>
								<ul class="ft-menu">
									<li><a routerLink="/about-us"  >Vision</a></li>
									<li><a routerLink="/about-us">mission</a></li>
									<li><a routerLink="/about-us" >our teams</a></li>
									<li><a routerLink="/about-us" >Partners</a></li>
                  <li><a routerLink="/about-us">Media</a></li>


								</ul>
							</div>
              <div class="footer-widget col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mb-20 ">
								<h4 class="title cursr-pointer" ><a href="" routerLink="/howItWorks"></a>How it works</h4>
								<ul class="ft-menu">
									<li><a routerLink="/howItWorks">How to start a fundraiser</a></li>
									<li><a routerLink="/howItWorks" >How to Donate</a></li>
									<li><a routerLink="/howItWorks" >Pricing</a></li>
									<li><a routerLink="/howItWorks" >FAQ</a></li>

								</ul>
							</div>
							<div class="footer-widget col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mb-20 ">
								<h4 class="title cursr-pointer">Policy</h4>
								<ul class="ft-menu">
									<li><a routerLink="/Aml-policy">AML Policy</a></li>	
          <li><a  routerLink="/privacy-policy" >Privacy Policy </a></li>
		  <li><a routerLink="/terms-and-conditions">Terms of Use</a></li>
		  <li><a routerLink="/cancellation-policy">Cancellation Policy </a></li>
		
          
          
									<!-- <a href="#campaigns">Education</a></li>
									<li><a href="#campaigns">Health care</a></li>
									<li><a href="#campaigns">Women empowerment</a></li>
                  <li><a href="#campaigns">Poverty & Humanitarian</a></li> -->
								</ul>
							</div>

							<div class="footer-widget col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12 mb-20 ">
								<h4 class="title cursr-pointer">Supports</h4>
								<ul class="ft-menu">
									<li><a href="contact-us" routerLink="/contact-us">contact us</a></li>

								</ul>
							</div>
						</div>
					</div>

				</div>
				<!--Footer Widget end-->
			</div>
		</div>

	</section>
	<section class="footer-botm cursr-pointer">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-12">
					<p> Copyright © All rights reserved 2021. <span>Proudly powered by Cocoalabs Pvt Ltd.</span>
          
          </p>
				</div>
			</div>
		</div>
	</section>
</footer>

