.input-box,.textarea-div {
  color: black !important;
}
.payed-modal {
  display: block !important;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}
.payed-modal.show {
  visibility: visible;
  opacity: 1;
  z-index: 99999;
}
.payed-modal .modal-dialog {
  max-width: 40%;
}
.payed-modal .modal-content {
  border-radius: 0;
  max-height: 300px;
  overflow: auto;
  border-radius: 20px;
  background-color: #32374a;
}
.payed-modal .modal-body {
  padding: 30px 30px;
}
.payd-msg{
  display: block;
}
.payd-msg p{
  display: block;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  font-size:18px;
  color:#fff;
  text-align: center;
  margin: 0px 0px 20px 0px;
}
.f-btn-border,.f-btn-border-red{
  width: 100%;
  padding: 8px 0px;
  border: none;
  border: solid 2px #fff;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 40px;
   box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0px 0px 10px 0px;
}
.f-btn-border-red{
  background-color: #c3313e;
  border: solid 2px #c3313e;
}
@media only screen and (max-width: 991px) {
  .payed-modal .modal-dialog {
    max-width: 60%;
  }
  .payd-msg p{
  font-size:14px;
}
}

@media only screen and (max-width: 767px) {
  .payed-modal .modal-dialog {
    max-width: 70%;
  }
}
@media only screen and (max-width: 600px) {
  .payed-modal .modal-dialog {
    max-width: 100%;
  }
}
